<div class="container mt-5">
    <h2 class="mb-4">Сообщения</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Сообщение</th>
                <th>Порядковый номер</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody id="message-table-body">
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/real-time-messages")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.start();
        connection.on("RecieveMessage", (data) => {
            appendRow(data)
        });
    });


    function appendRow(item) {
        let messageTableBody = document.getElementById('message-table-body');
        let row = document.createElement('tr');
        row.innerHTML = `<td>${item.message}</td>
                                <td>${item.orderNumber}</td>
                                    <td>${item.createdAt}</td>`;

        messageTableBody.appendChild(row);
    }
</script>
